.container {
  display: flex;
  flex: 0 0 100%;
}
.schoolDetails {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 10px;
}
.deviceDetails {
  width: 50%;
}
.deviceContainer {
  background-color: #eee;
}

.schoolData {
  padding: 20px;
  background: #eee;
  border: 1px solid #dedede;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  border-right: 6px solid red;
  color: red;
}
.device {
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.deviceName {
  display: flex;
  justify-content: space-between;
}
.devicePer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.bad {
  background-color: indianred;
  color: white;
}
.good {
  color: white;
  background-color: forestgreen;
}
